# CONFIGURACIÓN DEL SERVIDOR
PORT=3000

# CREDENCIALES DE POSTGRESQL (BASE DE DATOS CENTRAL EL CLAN)
DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=
DATABASE_URL=

# SALIDAS PARA AUTOMATIZACIONES (WEBHOOKS)
N8N_WEBHOOK_URL=

# INTELIGENCIA ARTIFICIAL (GEMINI)
GEMINI_API_KEY=
